<ion-header>
  <ion-navbar>
    <ion-title>
      Schedule
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>

    <ion-item-group *ngFor="let session of sessions; let i = index">

      <ion-item-divider sticky *ngIf="dividerNeededForSession(i)">
        <ion-label>{{ session.from }}</ion-label>
      </ion-item-divider>

      <ion-item-sliding>

        <button ion-item (click)="goToSessionDetail(session)">
          <h3>{{ session.name }}</h3>
          <p>
            {{ session.from }} &mdash;
            {{ session.till }}:
            {{ session.room }}
          </p>
        </button>

      </ion-item-sliding>

    </ion-item-group>

  </ion-list>

</ion-content>
